.card {
	background: rgba(34, 34, 34, .6);
	color: #fff;
	width: 95%;
	margin: 0 auto 15px auto;
}

.row {
	margin-top: 20px;
}

.title {
	text-align: center;
	padding-top: 5px;
}

.graphic{
	padding-left: 10px;
}

.graphic img {
	width: 220px;
	height: auto;
}

.description {
	padding-left: 15px;
}

.start, .end{
	margin: 0 0 2px 0;
	font-size: 10px;
}

.price {
	color: #8A1222;
	font-weight: bold;
	font-family: Helvetica sans-serif;
	font-size: 16px;
}

.banner-top {
	position: absolute;
	top: 0;
	margin-bottom: 15px;
}

.banner-top img {
	width: 95%;
	height: auto;
}