<div class='banner-top'>
	<img src="../app/images/silver_star_logo.jpg"/>
</div>
<div class='card' ng-repeat='card in allCards'>
	<h2 class='title'> {{card.title}} </h2>
	<hr/>
	<div class='row'>
		<div class='col-xs-6 graphic'>
			<img ng-src='{{card.graphic_file_name}}'/>
		</div>
		<div class='col-xs-6'>
			<p class='description'> {{card.description}} </p>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-6'>
		<p class='price'> ${{card.price}} </p> 
		</div>
		<div class='col-xs-6'>
			<div class='row start'>
				<div class='col-xs-4'>
					<p> Start Date: </p>
				</div>
				<div class='col-xs-8'>
					<p> {{card.start_date}} </p>
				</div>
			</div>
			<div class ='row end'>
				<div class='col-xs-4'>
					<p> End Date:</p>
				</div>
				<div class='col-xs-8'>
					<p> {{card.end_date}} </p>
				</div>
			</div>
		</div>
	</div>
</div>